
# To include support for Oracle 10g XE in zodbshootout, use:
#    bin/buildout -c buildout-oracle.cfg

[buildout]
extends = buildout.cfg
parts =
    cx_Oracle
    ${buildout:base-parts}
oracle_home = /usr/lib/oracle/xe/app/oracle/product/10.2.0/server

[zodbshootout]
eggs += cx_Oracle
initialization =
    import os
    os.environ['ORACLE_HOME'] = '${buildout:oracle_home}'

[cx_Oracle]
recipe = zc.recipe.egg:custom
environment = oracle-env
rpath = ${buildout:oracle_home}/lib

[oracle-env]
ORACLE_HOME = ${buildout:oracle_home}
