include *.rst
include *.txt
include .coveragerc
include tox.ini
include .pylintrc
recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile
recursive-include samples *.conf
recursive-include .travis *.py *.sh *.conf

# added by check_manifest.py
recursive-include scripts *.py
